<div class="login-wrapper">
    <div class="login-white-wrapper">
        <h1 class="login-title">LOGIN</h1>
        <form class="login-form" (ngSubmit)="logIn()">
            <input id="logintxtUsername" class="input-login" type="text" [(ngModel)] = "username" name="username">
            <input id="logintxtPassword" class="input-login" type="text" [(ngModel)] = "password" name="password">
            <button id="loginbnt" class="btn-login" type="submit" id="login">Submit</button>
        </form>
    </div>
</div>