<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset ="UTF-8">
        <title>Exit creation</title>
    </head>

    <body>
        <h1>Welcome to creation of exits</h1>
        <form action="#" th:action="@{/exit/save}" th:object="${exit}" method="post">
            <li>
                <label for="exit-idFRoom">From room #: </label>
                <input type="text" th:field="${exit.idFRoom}" id="exit-idFRoom">
            </li>
            <li>
                <label for="exit-idSRoom">To room #: </label>
                <input type="text" th:field="${exit.idSRoom}" id="exit-idSRoom">
            </li>

            <button type="submit">Creation done!</button>
        </form>
    </body>
</html>