<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        
    </head>

    <body>
        <h1>Monster information</h1>
        <h3 th:text="'>Id: ' +${monster.id}"></h3>
        <h3 th:text="'>Hitpoints: ' +${monster.hitpoints}"></h3>
        <h3> 
            >Room: <a th:href="@{/monster/room/{id}(id=${monster.id})}">Current room</a>
        </h3>
        <h3> 
            <a th:href="@{/monster/monster_type/{id}(id=${monster.id})}">>Monster type</a>
        </h3>
    </body>
</html>