<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset ="UTF-8">
        <title>Room edition</title>
    </head>

    <body>
        <h1>Behold! Edition of rooms</h1>
            
            <form action="#" th:action="@{/room/save}" th:object="${room}" method="post">
                <input type="hidden" th:field="${room.id}" id="room-id">
                <li>
                    <label for="room-rMonster">Monster: </label>
                    <input type="text" th:field="${room.rMonster}" id="room-rMonster">
                </li>
                <li>
                    <label for="room-rExits">Exits: </label>
                    <input type="text" th:field="${room.rExits}" id="room-rExits">
                </li>
                <!--
                <li>
                    <label for="room-rPlayers">Players: </label>
                    <input type="text" th:field="${room.rPlayers}" id="room-rPlayers">
                </li>
                !-->
                <p><a th:href="@{/room/item_list/{id}(id=${room.id})}">Add items</a></p>
                <p><a th:href="@{/room/item_list_c/{id}(id=${room.id})}">Current items</a></p>
                <p><a th:href="@{/room/ditem_list/{id}(id=${room.id})}">Add decorative items</a></p>
                <p><a th:href="@{/room/ditem_list_c/{id}(id=${room.id})}">Current decorative items</a></p>
                <button type="submit">Edit room</button>
            </form>
    </body>
</html>