<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        
    </head>

    <body>
        <h1>Decorative Item</h1>
        <form action="#" th:action="@{/decorative_item/save}" th:object="${decorativeItem}" method="post">
            <input type="hidden" th:field="${decorativeItem.id}" id="decorativeItem-id">
            <label for="decorativeItem-name">Name: </label>
            <input type="text" th:field="${decorativeItem.name}" id="decorativeItem-name">
            <button type="submit">Enviar</button>

        </form>


    </body>
    
</html>