<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        
    </head>

    <body>
        <h1>Item information</h1>
        <h3 th:text="'>Id: ' +${item.id}"></h3>
        <h3 th:text="'>Name: ' +${item.name}"></h3>
        <h3 th:text="'>Last updated: ' +${item.last_updated}"></h3>
        <h3 th:text="'>Cost: ' +${item.cost}"></h3>
        <h3 th:text="'>Weight: ' +${item.weight}"></h3>
        <h3 th:text="'>Examine: ' +${item.examine}"></h3>
        <h3 th:text="'>Wiki url: ' +${item.wiki_url}"></h3>
        <h3> 
            >Rooms with item: <a th:href="@{/item/view_room_list/{id}(id=${item.id})}">Current rooms with item</a>
        </h3>
        <h3> 
            >Player with item: <a th:href="@{/item/view_player_list/{id}(id=${item.id})}">Current player with item</a>
        </h3>
        

    </body>
</html>