<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        
    </head>

    <body>
        <h1>Monter Type Information</h1>
        <h3 th:text="'>Id: ' +${monsterType.id}"></h3>
        <h3 th:text="'>Name: ' +${monsterType.name}"></h3>
        <h3 th:text="'>Last updated: ' +${monsterType.last_updated}"></h3>
        <h3 th:text="'>Attack level : ' +${monsterType.attack_level}"></h3>
        <h3 th:text="'>Defense slash: ' +${monsterType.defence_slash}"></h3>
        <h3 th:text="'>Size: ' +${monsterType.size}"></h3>
        <h3 th:text="'>Hitpoints: ' +${monsterType.hitpoints}"></h3>
        <h3 th:text="'>Category: ' +${monsterType.category}"></h3>
        <h3 th:text="'>Monster: ' +${monsterType.monsters}"></h3>
        <h3> 
            >Monsters: <a th:href="@{/monster_type/view_monsters_list/{id}(id=${monsterType.id})}">Current monsters</a>
        </h3>
        <h3 th:text="'>Examine: ' +${monsterType.examine}"></h3>
        <h3 th:text="'>wiki url: ' +${monsterType.wiki_url}"></h3>





     
    </body>
</html>