<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org">
    <head>
        <meta charset ="UTF-8">
        <title>Monster list</title>
    </head>

    <body>
        <h1>Here's the monster list</h1> 
        <ul>
            <li th:each="p : ${monsters}" th:if="${p.hitpoints}">
                <a th:href="@{/monster/edit/{id}(id=${p.id})}" th:text="${p.hitpoints}"></a>
                <a class="deleteLink" th:href="@{/monster/delete/{id}(id=${p.id})}">Eliminar</a>
            </li>
        </ul>
        <form action="#" th:action="@{/monster/create}" th:object="${monster}" method="post">
            <button type="submit">Create a monster</button>
        </form>
    </body>
</html>