<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>

    <body>
        <h1>Monster</h1>
            <form action="#" th:action="@{/monster_type/save}" th:object="${monsterType}" method="post">
                <input type="hidden" th:field="${monsterType.id}" id="monsterType-id">
                <label for="monsterType-name">Name: </label>
                <input type="text" th:field="${monsterType.name}" id="monsterType-name">
                <button type="submit">Enviar</button>
            </form>
    </body>
</html>