<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        
    </head>

    <body>
        <h1>Player information:</h1>
        <h3 th:text="'>Id: ' +${player.id}"></h3>
        <h3 th:text="'>Name: ' +${player.name}"></h3>
        <h3 th:text="'>Last updated: ' +${player.last_updated}"></h3>
        <h3 th:text="'>Attack level: ' +${player.attack_level}"></h3>
        <h3 th:text="'>Defense slash: ' +${player.defence_slash}"></h3>
        <h3 th:text="'>Size: ' +${player.size}"></h3>
        <h3 th:text="'>Hitpoints: ' +${player.hitpoints}"></h3>
        <h3 th:text="'>Max weight: ' +${player.maxWeight}"></h3>
        <h3 th:text="'>Clock: ' +${player.clock}"></h3>
        <h3 th:text="'>Max time: ' +${player.max_time}"></h3>
        <h3 th:text="'>Items: ' +${player.items}"></h3>
    
    </body>
</html>