<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset ="UTF-8">
        <title>Room creation</title>
    </head>

    <body>
        <h1>Welcome to the creation of rooms</h1>
        <form action="#" th:action="@{/room/save}" th:object="${room}" method="post">
            <li>
                <label for="room-rItems">Items: </label>
                <input type="text" th:field="${room.rItems}" id="room-rItems">
            </li>
            <li>
                <label for="room-idDecorativeItem">Decorative items: </label>
                <input type="text" th:field="${room.idDecorativeItem}" id="room-idDecorativeItem">
            </li>
            <li>
                <label for="room-rMonster">Monster: </label>
                <input type="text" th:field="${room.rMonster}" id="room-rMonster">
            </li>
            <li>
                <label for="room-rExits">Exits: </label>
                <input type="text" th:field="${room.rExits}" id="room-rExits">
            </li>
            <li>
                <label for="room-rPlayers">Players: </label>
                <input type="text" th:field="${room.rPlayers}" id="room-rPlayers">
            </li>

            <button type="submit">Creation done!</button>
        </form>
    </body> 
</html>